* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  background: #ffffff;
}

nav {
  background: #ffeca5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  position: sticky;
  top: 0;
}

.about-panel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 120px;
  gap: 5%;
}

#panel-2 {
  background: #ffbe73;
}

.about-panel img {
  width: 45%;
}

.about-panel p {
  width: 50%;
}

#media-content {
  background: #ffeca5;
}
#contact {
  background: #ffbe73;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#contact img {
  width: 33%;
}
